.session{
	margin-bottom: 60px;

	&__content {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		min-height: 80px;
		margin-bottom: 40px;
		margin-right: 2.90%;
		width: 31%;
		
		background-color: #e1e8ef;
		padding: 20px;

		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}