.text{
	font-weight: 300;

	&--p1 {
		.fz(18, 30);
	}

	&--p2 {
		.fz(18, 28);
	}

	&--p3 {
		.fz(16, 26);
	}

	&--p4 {
		.fz(14, 22);
	}

	&--regular {
		font-weight: 400;
	}

	&--md {
		font-weight: 500;
	}
}